body {
  color:#333;
  font-size: 14px;
  line-height: 18px;
  background-image: url(../images/pebbles.jpg);
  margin: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  box-sizing:border-box;
}

a{
  text-decoration: none;
}
ul{
  list-style: none;
}
/* *************** top nav bar *************** *//* *************** top nav bar *************** */
#top-nav{
  background-color: #252525;
  width:100%;
  height: 45px;
  position:fixed;
  top:0;
  left:0;
  z-index: 999;
  color: #bbb;
  font-weight: bold;
  font-size: 14px;
}
#spacing{
  height:30px;
}
.global-nav{
  list-style: none;
}
.top-nav .global-nav li {
  margin-right: 80px;
}

.global-nav li a {
  color: #bbb;
}
.global-nav li a:active, .global-nav li a:hover{
  color: #fff;
}

.global-nav li{
  display:inline;
  margin-right: 20px;
}
.global-nav li img{
  margin-right: 8px;
}

/* *************** page structure *************** */
.container {
  display: -webkit-flex;
  display: flex;
  width:77%;
  margin: 20px auto;
}
.sidebar {
  width:40%;
}

.profile, .follow, .trends, .footer{
  font-family: "Helvetica Neue", Arial, sans-serif;
  border-radius: 8px;
  font-size: 12px;
  background-color: #f7f7f7;
  width: 90%;
  float:left;
  margin:20px auto 0;
  padding:10px;
}
.profile-stats, .tweet-stats{
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  margin-top:10px;
  padding: 10px;
}

.profile-stats td:nth-child(2), .tweet-stats td:nth-child(2){
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  padding-left: 10px;
}
.profile-stats td:nth-child(3), .tweet-stats td:nth-child(3){
  padding-left: 10px;
}
.profile-stats tfoot, .tweet-stats thead{
  color:black;
  font-size: 12px;
  font-weight: bold;
}
.profile-stats tfoot, .tweet-stats tfoot{
  color:#999;
  font-size: 10px;
}
/* *************** profile box *************** */
.profile-info{
  display: -webkit-flex;
  display: flex;
}
.profile-gravatar{
  background:url("../images/gravatar.jpg");
  margin:10px 5px;
  height:40px;
  width:40px;
  border-radius: 8px;
}
.profile-name {
  -webkit-flex:1;
  flex:1;
}
.profile-name h3{
  margin-top: 10px;
}
.profile-name h3 a{
  color:black;
  font-size: 18px;
  margin-left: 10px;
}
.profile-name h3 a:hover, .profile-name h3 a:active, 
.expand a:hover, .expand a:active{
  color:#B26FA7;
  text-decoration: underline;
}
 .profile-stats{
  width:100%;
}
.instruction{
  font-size: 12px;
  margin: -15px 0 0 10px;
  color:#999;
}
.profile-form{
  background-color: #f2f2f2;
}
.profile-form button{
  font-size: 12px;
  width:98%;
  background-color: #fff;
  color: #999;
  margin:10px auto;
  border-radius: 6px;
  height: 40px;
  text-align: left;
  border: 1px solid #c4c4c4;
  -moz-box-shadow:
    0px 1px 1px rgba(148,148,148,0.5),
    inset 0px 0px 1px rgba(196,196,196,1);
  -webkit-box-shadow:
    0px 1px 1px rgba(148,148,148,0.5),
    inset 0px 0px 1px rgba(196,196,196,1);
  box-shadow:
    0px 1px 1px rgba(148,148,148,0.5),
    inset 0px 0px 1px rgba(196,196,196,1);
  text-shadow:
    0px -1px 0px rgba(196,196,196,0.2),
    0px 1px 0px rgba(255,255,255,1);
}
/* ******************* tweet container ************** */
.tweet-container{
  -webkit-flex:1;
  flex:1;
  border-radius: 8px;
  background-color: #f7f7f7;
  margin:20px 20px 0;
  padding:10px;
  font-family:sans-serif; 
}
.tweet-container h1{
  font-weight: bold;
  line-height: 20px;
  letter-spacing: -3px;
}
/* *************** tweet box *************** */

.tweet-box{
  border-bottom: 1px solid #c3c3c3;
  display: -webkit-flex;
  display: flex;
}

.tweet-box .user-profile{
  width:;
  margin: 15px 0 0 15px;
  font-size: 14px;
  line-height: 16px;
}

.gravatar1{
  background:url("../images/medium.jpeg");
}
.gravatar2{
  background:url("../images/gravatar.jpg");
}
.gravatar3{
  background:url("../images/bbcClick.jpg");
}
.gravatar1, .gravatar2, .gravatar3{
  margin:15px 5px 10px;
  height:60px;
  width:60px;
  border-radius: 8px;
}
.tweet-text{
  -webkit-flex:1;
  flex:1;
}
.expand1, .expand2, .expand3, .expand4, .expand5, 
.expand6, .expand7, .expand8, .expand9, .expand10{
  margin: -10px 0 5px 15px;
  -webkit-flex:1;
  flex:1;
}
.expand1 a, .expand2 a,.expand3 a,.expand4 a,.expand5 a,
.expand6 a, .expand7 a, .expand8 a, .expand9 a, .expand10 a{
    color: #999;
}
.tweet{
  margin-top: 5px;
  line-height: 1.3em;
}
/* *************** footer section *************** */
.footer ul{
  margin-left: -30px;

}
.footer li{
  display: inline;
  margin-right: 5px;
}

.footer li a{
  color:#999;
}
.footer li a:hover, footer li a:active{
  text-decoration: underline;
  color:#434343;
}
.button{background-color:#ddd;
  background-repeat:repeat-x;
  background-image:-moz-linear-gradient(#fff,#ddd);
}
/* *************** global styles profiles *************** */
.name a{
  color: #333;
  font-weight: bold;
  font-size: 14px;
}
.name a:hover, .name a:active{
  color:#a15796;
  text-decoration: underline;
  font-weight: bold;
}
.username{
  color: #999;
/*  font-weight: bold;*/
  font-size: 12px;
}
.upcase{
  text-transform: uppercase;
}
/* *************** javascript expand / collapse css *************** */

.expand-content1, .expand-content2, .expand-content3, .expand-content4, .expand-content5,
.expand-content6, .expand-content7, .expand-content8, .expand-content9, .expand-content10 {
  display:none;
  margin-bottom: 10px;
}